.chat-bubble {
  color: white;
  font-weight: bold;
  font-size: 1.4rem;
}

.msg {
  padding: 0.9rem;
  margin: 0.7rem 0;
  border-radius: 13px;
  color: #333;
  box-shadow: rgba(0, 0, 0, 0.281) -2.5px 2px 5px;
}

.right {
  display: flex;
  flex-direction: row-reverse;
}

.left {
  display: flex;
}

.right > .msg {
  background-color: #d1fda2;
}

.left > .msg {
  background-color: #fda2d1;
}
